<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malware Analysis</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <div class="px-4 py-5 my-5 text-center">
        <img
          class="d-block mx-auto mb-4"
          src="/images/virus.png"
          alt=""
          width="140"
          height="140"
        >

        <h1 class="display-5 fw-bold text-body-emphasis">
          Malware Analysis
        </h1>

        <% if(error){ %>
          <p class="fw-bold text-danger"><%= error %></p>
        <% } %>

        <form action="/upload" method="post">
          <input class="form-control customMargin" type="text" value="<%= link || '' %>" name="link" placeholder="Insert a URL or domain" required>
          <input class="form-control customMargin" type="password" value="<%= apiKey || '' %>" name="apiKey" placeholder="Insert your VirusTotal API key" required>

          <div class="col-lg-6 mx-auto">

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button
                type="submit"
                class="btn btn-success btn-lg px-4 gap-3"
              >
                Submit
              </button>

            </div>
          </div>
        </form>

        <% if(showResults) { %>

        <h1 class="fs-1 mt-5"><%= name %></h1>

        <hr class="mt-5">
   
        <div class="d-flex justify-content-evenly">
          <div>
            <h1 class="mt-2 mb-3 text-align-left">Score:</h1>
            <%
              let color = 'text-success'

              if (malicious_results > 0){
                color = 'text-danger'
              }
            %>
            <p class="text-success fs-3"><span class="<%= color %>"><%= malicious_results %>/93</span></p>
          </div>
          <div>
            <h1 class="mt-2 mb-3 text-align-left">Votes:</h1>

            <p class="text-success fs-4">Harmless: <%= harmless %></p>
            <p class="text-danger fs-4">Malicious: <%= malicious %></p>
          </div>
        </div>

        <hr class="mt-4">

        <table class="table mt-4">
          <% sortedVendors.forEach(engine => { %>
            <tr>
              <td><%= engine %></td>
              <td>
                <% 
                  let color = 'text-light'
                  let category = vendor[engine].category
                  
                  if(category == 'harmless'){
                    color = 'text-success'
                  } 
                  else if (category == 'suspicious'){
                    color = 'text-warning'                 
                  }
                  else if (category == 'undetected' || category == 'timeout'){
                    color = 'text-light'                 
                  }
                  else {
                    color = 'text-danger'
                  }
                %>
                
                <span class="<%= color %>"><%= vendor[engine].result %></span>
              </td>
            </tr>
          <% }) %>
        </table> 

        <% } %>
      </div>
    </div>

    <script src="../index.js"></script>
    <script src="/bootstrap/bootstrap.js"></script>
  </body>
</html>
